<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<meta http-equiv="X-UA-Compatible" content?"IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
</head>
<body>
	<p style="text-align: center;"><strong>RETO 1 CYBERSEGURIDAD</strong></p>
	<p><strong>NOMBRE:</strong> </p>
	<p>{{ data.nombre }}</p>
	<p><strong>CURSO:</strong> </p>
	<p>{{ data.curso }}</p>
	<p style="text-align: center;"><em>VALOR ACTUAL DISNEY</em></p>
	<p><strong>VALOR:</strong></p>
	<p>{{ data.precio }}</p>
	<p><strong>RANGO:</strong></p>
	<p>{{ data.rango }}</p>
</body>
</html>



